<accordion>
    <accordion-group is-open="status.open" ng-init="status = { open: true }">
        <accordion-heading>
            Filters <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': ! status.open}"></i>
        </accordion-heading>
        <p class="row">
            <div class="col-sm-6">
                <div class="row">
                    <span class="col-sm-6"> <small translate>B.o.T and/or B.o.F</small> </span>
                    <span class="col-sm-6">
                        <select class="form-control form-control-sm" ng-model="filters.bof_bot">
                            <option value="" translate>Both</option>
                            <option value="Rare" translate>B.o.T</option>
                            <option value="Normal" translate>B.o.F</option>
                            <option value="None" translate>None</option>
                        </select> </span>
                </div>
                <div class="row" style="margin-top: 1em;">
                    <span class="col-sm-6"><small translate>Only companions you have</small></span>
                    <span class="col-sm-6">
                        <input type="checkbox" ng-model="filters.only_have"/>
                    </span>
                </div>
                <div class="row" style="margin-top: 1em;">
                    <span class="col-sm-6"><small translate>Only companions you want</small></span>
                    <span class="col-sm-6">
                        <input type="checkbox" ng-model="filters.only_want"/>
                    </span>
                </div>
            </div>
            <span class="col-sm-3"><small translate>Class</small></span>
            <span class="col-sm-3">
                <select class="form-control form-control-sm" ng-model="filters.classes" multiple="multiple" style="height: 11em;">
                    <option value="" translate>All</option>
                    <option value="SS">SS</option>
                    <option value="S">S</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
            </span>
        </p>

        <p class="row">
            
        </p>

        <p class="row">
            <span class="col-sm-3 col-sm-offset-9">
                <button class="btn btn-default" ng-click="reset_filters()" translate>
                    reset filters
                </button
            </span>
        </p>
    </accordion-group>
</accordion>

<div class="row">
    <div class="col-sm-12">
<table class="table table-striped table-condensed" sticky-table-header>
    <thead>
        <tr>
            <th>Name</th>
            <th>have ?</th>
            <th>current stock</th>
            <th># to keep</th>
            <th># to evolve</th>
            <th>BoT</th>
            <th>BoF</th>
        </tr>
    </thead>
    <tr ng-repeat="buddy in buddies | filter: filter_all_filters" ng-if="buddy.name != 'text'">
        <td>
            <img src="pictures/characters/32x32/buddy-{{ buddy.ref }}.png" style="width: 24px; height: 24px;" class="img-thumbnail" />
            <span ng-if="buddy.t_level != 0" style="margin-left: {{ buddy.t_level}}em;">
                <span class="glyphicon glyphicon-arrow-right"></span>
            </span>
            {{ buddy.rarity }} - {{ buddy.name }}
        </td>
        <td class="text-center">
            <input type="checkbox" ng-model="have_buddies[buddy.ref]" ng-change="toggle_have(buddy.ref)"/>
        </td>
        <td>
            <input type="number" class="form-control text-right input-sm" ng-disabled="! have_buddies[buddy.ref]" min="1" max="300" 
                ng-model="qty_buddies[buddy.ref]" ng-change="change_qty(buddy.ref)"/>
        </td>
        <td>
            <input type="number" class="form-control text-right input-sm" min="1" max="300" 
                ng-model="want_buddies[buddy.ref]" ng-change="change_want(buddy.ref)"/>
        </td>
        <td>
            <input type="number" class="form-control text-right input-sm" min="1" max="300" 
                ng-model="evolve_buddies[buddy.ref]" ng-change="change_evolve(buddy.ref)" ng-if="buddy.next != null"/>
        </td>
        <td class="text-center">
            <!-- BoT -->
            <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-if="buddy.slot_kind == 'Rare' || buddy.slot_kind == 3"></span>
            <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-if="buddy.slot_kind == 'Normal' || buddy.slot_kind == 'None'"></span>
        </td>
        <td class="text-center">
            <!-- BoF -->
            <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-if="buddy.slot_kind == 'Normal' || buddy.slot_kind == 3"></span>
            <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-if="buddy.slot_kind == 'Rare' || buddy.slot_kind == 'None'"></span>
        </td>
    </tr>
</table>
</div></div>