<div class="well">
  <h1>Credits where it's due</h1>
    <ul>
      <li><a href="http://www.terra-battle.com">the game</a>,</li>
      <li><a href="http://terrabattleforum.com">Terra Battle Forum</a>
        <ul>
            <li>with special thanks to <a href="http://terrabattleforum.com/members/tharos.2721/">Tharos</a> for all the data he provides me with</li>
            <li>and <a href="http://terrabattleforum.com/members/jirokichi.2190/">Jirokichi</a> for the guide (all versions) and the UI Spanish translation</li>
        </ul>
       </li>
    </ul>
</div>
