<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><body>
<p translate="translate">Serenity Shoot</p>
<p translate="translate">Wisdom Flower</p>
<p translate="translate">Benevolent Fang</p>
<p translate="translate">Tail of Insight</p>
<p translate="translate">Claw of Fate</p>
<p translate="translate">Pelt of Knowledge</p>
<p translate="translate">Forlorn Stone</p>
<p translate="translate">Shell of Madness</p>
<p translate="translate">Terra Swordsteel</p>
<p translate="translate">Terra Spearbronze</p>
<p translate="translate">Terra Bowstring</p>
<p translate="translate">Terra Staffwood</p>
<p translate="translate">Fire Ring</p>
<p translate="translate">Ice Ring</p>
<p translate="translate">Lightning Ring</p>
<p translate="translate">Dark Ring</p>
<p translate="translate">White Ring</p>
<p translate="translate">Spirit Tears</p>
<p translate="translate">Moon Tears</p>
<p translate="translate">Rainbow Tears</p>
<p translate="translate">Sea Tears</p>
<p translate="translate">Spirit Particle</p>
<p translate="translate">Lore Particle</p>
<p translate="translate">Wish Particle</p>
<p translate="translate">Warped Particle</p>
<p translate="translate">Orichalcum</p>
<p translate="translate">Dark Matter</p>
<p translate="translate">Animaton</p>
<p translate="translate">Oxsecium</p>
<p translate="translate">Gungnir</p>
<p translate="translate">Masamune</p>
<p translate="translate">Apollo</p>
<p translate="translate">Asclepius</p>
<p translate="translate">Gae Bolg</p>
<p translate="translate">Excalibur</p>
<p translate="translate">Yumiharizuki</p>
<p translate="translate">Vajra</p>
<p translate="translate">Gaea</p>
<p translate="translate">Planet's Heart</p>
<p translate="translate">Flame of Indra</p>
<p translate="translate">Gyros</p>
<p translate="translate">Defender</p>
<p translate="translate">Phoenix</p>
<p translate="translate">Flamedrake Spear</p>
<p translate="translate">Maelstrom Bow</p>
<p translate="translate">Green Ring</p>
<p translate="translate">Terra Fragment</p>
<p translate="translate">Caladbolg</p>
<p translate="translate">Caladcholg</p>
<p translate="translate">Metal Ticket</p>
<p translate="translate">Cobalt Goblet</p>
<p translate="translate">Trident</p>
<p translate="translate">Time Extension</p>
<p translate="translate">Disarmer</p>
<p translate="translate">EXP Boost</p>
<p translate="translate">Coin Boost</p>
<p translate="translate">Amethyst Flame</p>
<p translate="translate">Rune</p>
<p translate="translate">The Emperor</p>
<p translate="translate">The Hierophant</p>
<p translate="translate">Knight of Swords</p>
<p translate="translate">Knight of Spears</p>
<p translate="translate">Knight of Bows</p>
<p translate="translate">Knight of Wands</p>
<p translate="translate">The Sun</p>
<p translate="translate">The Moon</p>
<p translate="translate">The Tower</p>
<p translate="translate">Death</p>
<p translate="translate">Knight of Chalices</p>
<p translate="translate">Knight of Pentacles</p>
<p translate="translate">Balmung</p>
<p translate="translate">Tyrfing</p>
<p translate="translate">Celestial Bow</p>
<p translate="translate">Naegling</p>
<p translate="translate">Varunastra</p>
<p translate="translate">Raikiri</p>
<p translate="translate">Codex Runicus</p>
<p translate="translate">Harpe</p>
<p translate="translate">Hotarumaru</p>
<p translate="translate">Energy</p>
<p translate="translate">Item21</p>
<p translate="translate">Item</p>
</body></html>
