<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><body>
<p translate="translate">Bahl</p>
<p translate="translate">Samatha</p>
<p translate="translate">Grace</p>
<p translate="translate">Kuscah</p>
<p translate="translate">Ellvern</p>
<p translate="translate">A'merpact</p>
<p translate="translate">Djugan</p>
<p translate="translate">Olber</p>
<p translate="translate">Sheena</p>
<p translate="translate">Ma'curi</p>
<p translate="translate">Gatz</p>
<p translate="translate">Eileen</p>
<p translate="translate">Yukken</p>
<p translate="translate">Rikken</p>
<p translate="translate">Ka'pori</p>
<p translate="translate">Sh'berdan</p>
<p translate="translate">S'naip</p>
<p translate="translate">R'zonand</p>
<p translate="translate">Gugba</p>
<p translate="translate">Zuzu</p>
<p translate="translate">Gaiga</p>
<p translate="translate">Kana</p>
<p translate="translate">Gegonago</p>
<p translate="translate">Amina</p>
<p translate="translate">A'misandra</p>
<p translate="translate">Amimari</p>
<p translate="translate">Amazora</p>
<p translate="translate">Ba'gunar</p>
<p translate="translate">Burbaba</p>
<p translate="translate">Zan</p>
<p translate="translate">Czekras</p>
<p translate="translate">Ra'prow</p>
<p translate="translate">Zenzoze</p>
<p translate="translate">Koko</p>
<p translate="translate">Alika</p>
<p translate="translate">O'pari</p>
<p translate="translate">Gigojago</p>
<p translate="translate">Manmer</p>
<p translate="translate">Korin</p>
<p translate="translate">Kem</p>
<p translate="translate">Pahrl</p>
<p translate="translate">Nakupí</p>
<p translate="translate">Samupí</p>
<p translate="translate">Metupí</p>
<p translate="translate">U'nasag</p>
<p translate="translate">Daiana</p>
<p translate="translate">Sha'plar</p>
<p translate="translate">Sorman</p>
<p translate="translate">Zafitte</p>
<p translate="translate">Bonna</p>
<p translate="translate">Zeera</p>
<p translate="translate">Pupropé</p>
<p translate="translate">Pupropu</p>
<p translate="translate">Lunato</p>
<p translate="translate">Lunaken</p>
<p translate="translate">Lewto</p>
<p translate="translate">Piz'fer</p>
<p translate="translate">Jennish</p>
<p translate="translate">Zerro</p>
<p translate="translate">Palpa</p>
<p translate="translate">Warrior</p>
<p translate="translate">Knight</p>
<p translate="translate">Archer</p>
<p translate="translate">Mage</p>
<p translate="translate">Healer</p>
<p translate="translate">Lizardfolk Warrior</p>
<p translate="translate">Lizardfolk Knight</p>
<p translate="translate">Lizardfolk Archer</p>
<p translate="translate">Beastfolk Warrior</p>
<p translate="translate">Beastfolk Knight</p>
<p translate="translate">Beastfolk Archer</p>
<p translate="translate">Maralme</p>
<p translate="translate">Spinetrich</p>
<p translate="translate">Sabertooth</p>
<p translate="translate">Velraine</p>
<p translate="translate">Whitewyrm</p>
<p translate="translate">Triscorp</p>
<p translate="translate">Dark Tortoise</p>
<p translate="translate">Golem</p>
<p translate="translate">Wyvern</p>
<p translate="translate">Arachnobot</p>
<p translate="translate">Cybergolem</p>
<p translate="translate">Magma Mummy</p>
<p translate="translate">Mantledrake</p>
<p translate="translate">Cyberclops</p>
<p translate="translate">Mothbot</p>
<p translate="translate">Mecharose</p>
<p translate="translate">Assassin</p>
<p translate="translate">Vial Chucker</p>
<p translate="translate">Regenercell</p>
<p translate="translate">Mechavirus 3721</p>
<p translate="translate">Megacell</p>
<p translate="translate">Wastecell</p>
<p translate="translate">Ethereal</p>
<p translate="translate">Slasher</p>
<p translate="translate">Leviathan</p>
<p translate="translate">Mermaid</p>
<p translate="translate">Pegawyrm</p>
<p translate="translate">Bahamut</p>
<p translate="translate">Cryowisp</p>
<p translate="translate">Pyrowisp</p>
<p translate="translate">Odin</p>
<p translate="translate">Blastosaur</p>
<p translate="translate">Lich</p>
<p translate="translate">Marilith</p>
<p translate="translate">Kraken</p>
<p translate="translate">Tiamat</p>
<p translate="translate">White Sabertooth</p>
<p translate="translate">Sabertooth King</p>
<p translate="translate">Bomborg</p>
<p translate="translate">Mechanic</p>
<p translate="translate">Blade Falcon</p>
<p translate="translate">Dracorin</p>
<p translate="translate">Beastfolk Hero</p>
<p translate="translate">Devil Bat</p>
<p translate="translate">Lizardfolk Mage</p>
<p translate="translate">Beastfolk Mage</p>
<p translate="translate">Stonefolk Warrior</p>
<p translate="translate">Stonefolk Knight</p>
<p translate="translate">Stonefolk Archer</p>
<p translate="translate">Stonefolk Mage</p>
<p translate="translate">Lizardfolk Healer</p>
<p translate="translate">Beastfolk Healer</p>
<p translate="translate">Stonefolk Healer</p>
<p translate="translate">Androclops</p>
<p translate="translate">Mechaclops</p>
<p translate="translate">Mech Orbling</p>
<p translate="translate">Phi Orbling</p>
<p translate="translate">Mantle Tortoise</p>
<p translate="translate">Celestial Dragon</p>
<p translate="translate">Onyx Dragon</p>
<p translate="translate">Vajra</p>
<p translate="translate">Mediscanner</p>
<p translate="translate">Floralpede</p>
<p translate="translate">Paralypede</p>
<p translate="translate">Slime Slug</p>
<p translate="translate">Dark Petrifier</p>
<p translate="translate">Dark Pegawyrm</p>
<p translate="translate">Starwhip</p>
<p translate="translate">Red Starwhip</p>
<p translate="translate">Chargebot</p>
<p translate="translate">Flamebot</p>
<p translate="translate">Thornasaurus</p>
<p translate="translate">Lizardfolk Hero</p>
<p translate="translate">Electrosapper</p>
<p translate="translate">Jaguna</p>
<p translate="translate">Suoh</p>
<p translate="translate">Camellia</p>
<p translate="translate">Kujata</p>
<p translate="translate">Suzaku</p>
<p translate="translate">Rejin</p>
<p translate="translate">Pupru</p>
<p translate="translate">Bajanna</p>
<p translate="translate">Y'apkar</p>
<p translate="translate">Harold</p>
<p translate="translate">Yulia</p>
<p translate="translate">Bone</p>
<p translate="translate">Orbling</p>
<p translate="translate">Wee Orbling</p>
<p translate="translate">Warrior</p>
<p translate="translate">Archer</p>
<p translate="translate">Sabertooth</p>
<p translate="translate">Dracorin</p>
<p translate="translate">Gorf</p>
<p translate="translate">Spinetrich</p>
<p translate="translate">Lizardfolk Warrior</p>
<p translate="translate">Lizardfolk Knight</p>
<p translate="translate">Lizardfolk Archer</p>
<p translate="translate">Lizardfolk Mage</p>
<p translate="translate">Lizardfolk Healer</p>
<p translate="translate">Beastfolk Warrior</p>
<p translate="translate">Beastfolk Knight</p>
<p translate="translate">Beastfolk Archer</p>
<p translate="translate">Beastfolk Mage</p>
<p translate="translate">Beastfolk Healer</p>
<p translate="translate">Beastfolk Hero</p>
<p translate="translate">Lizardfolk Hero</p>
<p translate="translate">Mudtoad</p>
<p translate="translate">White Sabertooth</p>
<p translate="translate">Devil Bat</p>
<p translate="translate">Horned Slug</p>
<p translate="translate">Triscorp</p>
<p translate="translate">Sabertooth King</p>
<p translate="translate">Ba'gunar</p>
<p translate="translate">Antenna Orbling</p>
<p translate="translate">Aeropede</p>
<p translate="translate">Wyvern</p>
<p translate="translate">Fungibird</p>
<p translate="translate">Whitewyrm</p>
<p translate="translate">Blastosaur</p>
<p translate="translate">Slugosaur</p>
<p translate="translate">Bomb</p>
<p translate="translate">Slashbot</p>
<p translate="translate">Impalebot</p>
<p translate="translate">Power Pyramid</p>
<p translate="translate">Mech Orbling</p>
<p translate="translate">Robotick</p>
<p translate="translate">Cybermummy</p>
<p translate="translate">Teksura</p>
<p translate="translate">Arachnobot</p>
<p translate="translate">Arachnolings</p>
<p translate="translate">Cybergolem</p>
<p translate="translate">Phi Orbling</p>
<p translate="translate">Magma Eye</p>
<p translate="translate">Mantle Tortoise</p>
<p translate="translate">Heat Sparker</p>
<p translate="translate">Mantle Slime</p>
<p translate="translate">Magma Mummy</p>
<p translate="translate">Rockburn</p>
<p translate="translate">Magma Cluster</p>
<p translate="translate">Red Starwhip</p>
<p translate="translate">Cerberus</p>
<p translate="translate">Mantledrake</p>
<p translate="translate">Electrotick</p>
<p translate="translate">Bomborg</p>
<p translate="translate">Mechanic</p>
<p translate="translate">Trilobot</p>
<p translate="translate">Cyberscorp</p>
<p translate="translate">Electrowatt</p>
<p translate="translate">Cyberwyrm</p>
<p translate="translate">Mechadrake</p>
<p translate="translate">Pyrotoad</p>
<p translate="translate">Magma Slug</p>
<p translate="translate">Redguard</p>
<p translate="translate">Rockfreeze</p>
<p translate="translate">Dark Tortoise</p>
<p translate="translate">Golem</p>
<p translate="translate">Flame Urchin</p>
<p translate="translate">Mantle Mammoth</p>
<p translate="translate">Stonefolk Warrior</p>
<p translate="translate">Stonefolk Knight</p>
<p translate="translate">Stonefolk Archer</p>
<p translate="translate">Stonefolk Healer</p>
<p translate="translate">Stonefolk Mage</p>
<p translate="translate">Burnbot</p>
<p translate="translate">Burnbot Redux</p>
<p translate="translate">Toxic Bomborg</p>
<p translate="translate">Time Devourer</p>
<p translate="translate">Scrap Slime</p>
<p translate="translate">Mothbot</p>
<p translate="translate">Mothbot Queen</p>
<p translate="translate">Nanoworm</p>
<p translate="translate">Gigaworm</p>
<p translate="translate">Beambot</p>
<p translate="translate">Bludgeonbot</p>
<p translate="translate">Electropede</p>
<p translate="translate">Scrap Golem</p>
<p translate="translate">Mechaclops</p>
<p translate="translate">Phantasmal Lens</p>
<p translate="translate">Slashbot Redux</p>
<p translate="translate">Hell Bat</p>
<p translate="translate">Assassin Poseur</p>
<p translate="translate">Assassin</p>
<p translate="translate">Cyberclops</p>
<p translate="translate">Pyrosaurus</p>
<p translate="translate">Chainer</p>
<p translate="translate">Magic Muzzler</p>
<p translate="translate">Vial Chucker</p>
<p translate="translate">Stonefiend</p>
<p translate="translate">Flail</p>
<p translate="translate">???</p>
<p translate="translate">Impalebot Redux</p>
<p translate="translate">Gaoler</p>
<p translate="translate">Drillasaurus</p>
<p translate="translate">Androclops</p>
<p translate="translate">Cryosaurus</p>
<p translate="translate">Shackler</p>
<p translate="translate">Toxoid</p>
<p translate="translate">Mecharose</p>
<p translate="translate">Oculus</p>
<p translate="translate">Pepropé</p>
<p translate="translate">Darkbot</p>
<p translate="translate">Dark Mechacell</p>
<p translate="translate">Dark Archercell</p>
<p translate="translate">Dark Sparker</p>
<p translate="translate">Dark Ampcell</p>
<p translate="translate">Wastecell</p>
<p translate="translate">Mechavirus 3721</p>
<p translate="translate">Regenercell</p>
<p translate="translate">Mechadrake Redux</p>
<p translate="translate">Ancient Key</p>
<p translate="translate">Cryocell</p>
<p translate="translate">Ice Archercell</p>
<p translate="translate">Freeze Sparker</p>
<p translate="translate">Ice Urchin</p>
<p translate="translate">Cryoplatelet</p>
<p translate="translate">Shieldcell</p>
<p translate="translate">Mechavirus 9643</p>
<p translate="translate">Toxic Cannon</p>
<p translate="translate">Gas Bomb</p>
<p translate="translate">Megacell</p>
<p translate="translate">Mechacell</p>
<p translate="translate">Snipercell</p>
<p translate="translate">Ramcell</p>
<p translate="translate">S Cell</p>
<p translate="translate">N Cell</p>
<p translate="translate">Mechavirus 1567</p>
<p translate="translate">Powercell</p>
<p translate="translate">Enerzerk</p>
<p translate="translate">Oxsecian Airgrunt</p>
<p translate="translate">Oxsecian Guard</p>
<p translate="translate">Oxsecian Grunt</p>
<p translate="translate">Pneumatobot (Beta)</p>
<p translate="translate">Pneumatobot</p>
<p translate="translate">Oxsecian Battery</p>
<p translate="translate">Lock-On</p>
<p translate="translate">Lock-On+</p>
<p translate="translate">Oxsecian Bomb</p>
<p translate="translate">Chargebot (Beta)</p>
<p translate="translate">Oxsecian Trapper</p>
<p translate="translate">Flamebot (Beta)</p>
<p translate="translate">Lock-On 555</p>
<p translate="translate">Analyzer</p>
<p translate="translate">Oxsecian Sniper</p>
<p translate="translate">Flamebot</p>
<p translate="translate">Chargebot</p>
<p translate="translate">Lock-On 333</p>
<p translate="translate">Lock-On 333+</p>
<p translate="translate">Laser Unit H</p>
<p translate="translate">Laser Unit V</p>
<p translate="translate">Energy Aspirator</p>
<p translate="translate">Oxsecian Grunt SP</p>
<p translate="translate">Oxsecian Guard SP</p>
<p translate="translate">Oxsecian Gunner SP</p>
<p translate="translate">EM Generator</p>
<p translate="translate">Slime Slug</p>
<p translate="translate">Floralpede</p>
<p translate="translate">Rhinosaurus</p>
<p translate="translate">Pegawyrm</p>
<p translate="translate">Firespew</p>
<p translate="translate">Carnelibean</p>
<p translate="translate">Pyrowisp</p>
<p translate="translate">Phoenix</p>
<p translate="translate">Celestial Dragon</p>
<p translate="translate">Mudwing</p>
<p translate="translate">Starwhip</p>
<p translate="translate">Snowspew</p>
<p translate="translate">Cryowisp</p>
<p translate="translate">Aquafeeder</p>
<p translate="translate">Lazulibean</p>
<p translate="translate">Boltspew</p>
<p translate="translate">Thunder Horn</p>
<p translate="translate">Mermaid</p>
<p translate="translate">Ice Golem</p>
<p translate="translate">Vajra</p>
<p translate="translate">Slasher</p>
<p translate="translate">Dark Pegawyrm</p>
<p translate="translate">Cursed Claw</p>
<p translate="translate">Shadow Slug</p>
<p translate="translate">Necromancer</p>
<p translate="translate">Seed</p>
<p translate="translate">Dark Dragon</p>
<p translate="translate">Young Onyx Dragon</p>
<p translate="translate">Onyx Dragon</p>
<p translate="translate">Impaler</p>
<p translate="translate">Thornasaurus</p>
<p translate="translate">Negator X</p>
<p translate="translate">Terminator Y</p>
<p translate="translate">Restorator Z</p>
<p translate="translate">Oxsecian Fighter</p>
<p translate="translate">Oxsecian Bomber</p>
<p translate="translate">Oxsecian Bomber EX</p>
<p translate="translate">Paralypede</p>
<p translate="translate">Electroseizer</p>
<p translate="translate">Time Analyzer</p>
<p translate="translate">Craggy Leviathan</p>
<p translate="translate">1AOO MarkⅠ</p>
<p translate="translate">2BOO MarkⅠ</p>
<p translate="translate">3COO MarkⅠ</p>
<p translate="translate">1AOO</p>
<p translate="translate">2BOO</p>
<p translate="translate">3COO</p>
<p translate="translate">Oxsecian Gunner</p>
<p translate="translate">Ice Slammer</p>
<p translate="translate">Cryobird</p>
<p translate="translate">Ice Razor</p>
<p translate="translate">Electrosapper</p>
<p translate="translate">Defense Amp</p>
<p translate="translate">54B2</p>
<p translate="translate">Jade Guardian</p>
<p translate="translate">Oxsecian Stormer</p>
<p translate="translate">Dark Petrifier</p>
<p translate="translate">Nebulator</p>
<p translate="translate">Crasher</p>
<p translate="translate">Grim Leaker</p>
<p translate="translate">Transporter</p>
<p translate="translate">Mechabird</p>
<p translate="translate">Spiny Leviathan</p>
<p translate="translate">Oxsecian Raider</p>
<p translate="translate">Oxsecian Lancer</p>
<p translate="translate">Oxsecian Blitzer</p>
<p translate="translate">Arachnochip</p>
<p translate="translate">Arachnochip EX</p>
<p translate="translate">Oxsecian RPS</p>
<p translate="translate">Mediscanner</p>
<p translate="translate">Kraken</p>
<p translate="translate">Kraken's Tentacle</p>
<p translate="translate">Tentacle Clone</p>
<p translate="translate">Marilith</p>
<p translate="translate">Tiamat</p>
<p translate="translate">Ice Spawn</p>
<p translate="translate">Flame Spawn</p>
<p translate="translate">Lich</p>
<p translate="translate">Hover Zapper</p>
<p translate="translate">Oxsecian Gas Bomb</p>
<p translate="translate">Oxsecian Worm</p>
<p translate="translate">Oxsecian Stormer SP</p>
<p translate="translate">1AOO MarkⅡ</p>
<p translate="translate">2BOO MarkⅡ</p>
<p translate="translate">3COO MarkⅡ</p>
<p translate="translate">Oxsecian Striker </p>
<p translate="translate">Oxsecian Bladebot</p>
<p translate="translate">Oxsecian Spearbot</p>
<p translate="translate">Oxsecian Arrowbot</p>
<p translate="translate">Space Debris</p>
<p translate="translate">Elemental Spinner</p>
<p translate="translate">Oxsecian Fighter EX</p>
<p translate="translate">AOO</p>
<p translate="translate">BOO</p>
<p translate="translate">COO</p>
<p translate="translate">6ZOO</p>
<p translate="translate">Metal Orbling</p>
<p translate="translate">Metal Runner</p>
<p translate="translate">Metal Orbling Mage</p>
<p translate="translate">Golden Runner</p>
<p translate="translate">Metal Gorf</p>
<p translate="translate">Metal Orbling King</p>
<p translate="translate">Pudding</p>
<p translate="translate">Star Pudding</p>
<p translate="translate">Teddy Pudding</p>
<p translate="translate">Runny Pudding</p>
<p translate="translate">Jelly</p>
<p translate="translate">Jumbo Pudding</p>
<p translate="translate">Tin Fencer</p>
<p translate="translate">Tin Knight</p>
<p translate="translate">Tin Artillery</p>
<p translate="translate">Tin Flamecaster</p>
<p translate="translate">Tin Frostcaster</p>
<p translate="translate">Tin Electrocaster</p>
<p translate="translate">Tin Darkcaster</p>
<p translate="translate">Tin King</p>
<p translate="translate">Coin Creep</p>
<p translate="translate">Coin Creep Gorger</p>
<p translate="translate">Coin Creep Mage</p>
<p translate="translate">Coin Creep Bomber</p>
<p translate="translate">Aerobomb</p>
<p translate="translate">Golden Coin Creep</p>
<p translate="translate">Coin Creep Fighter</p>
<p translate="translate">Slashing Puppet</p>
<p translate="translate">Piercing Puppet</p>
<p translate="translate">Projectile Puppet</p>
<p translate="translate">Casting Puppet</p>
<p translate="translate">Flame Puppet</p>
<p translate="translate">Frost Puppet</p>
<p translate="translate">Volt Puppet</p>
<p translate="translate">Papa Puppet</p>
<p translate="translate">Fell Drake</p>
<p translate="translate">Sacred Flame</p>
<p translate="translate">Soma</p>
<p translate="translate">Bahamut</p>
<p translate="translate">Kujata</p>
<p translate="translate">Suzaku</p>
<p translate="translate">Ambrosia</p>
<p translate="translate">Neo Bahamut</p>
<p translate="translate">Fell Drake Redux</p>
<p translate="translate">Falak</p>
<p translate="translate">Time Spire</p>
<p translate="translate">Bahamut Omega</p>
<p translate="translate">BN</p>
<p translate="translate">CB</p>
<p translate="translate">Alphascorp</p>
<p translate="translate">Cerberus's Head</p>
<p translate="translate">GEN</p>
<p translate="translate">MAGICT</p>
<p translate="translate">MAGICM</p>
<p translate="translate">MAGICS</p>
<p translate="translate">Tear Hoarder</p>
<p translate="translate">Particle Hoarder</p>
<p translate="translate">Rarity Hoarder</p>
<p translate="translate">Slimebomber</p>
<p translate="translate">Boombomber</p>
<p translate="translate">Timebomber</p>
<p translate="translate">Gormandizer</p>
<p translate="translate">Oceanus</p>
<p translate="translate">Delphinus</p>
<p translate="translate">Selena</p>
<p translate="translate">Conchio</p>
<p translate="translate">Leviathan</p>
<p translate="translate">Chiton</p>
<p translate="translate">Qarn</p>
<p translate="translate">Neo Leviathan</p>
<p translate="translate">Fisheye</p>
<p translate="translate">Leviathan Omega</p>
<p translate="translate">Freki</p>
<p translate="translate">Einheri</p>
<p translate="translate">Weeper</p>
<p translate="translate">Lindworm</p>
<p translate="translate">Odin</p>
<p translate="translate">Wailing Wall</p>
<p translate="translate">Munin</p>
<p translate="translate">Hugin</p>
<p translate="translate">Neo Odin</p>
<p translate="translate">Draugr</p>
<p translate="translate">Odin Omega</p>
<p translate="translate">Mayuk</p>
<p translate="translate">Nanuk</p>
<p translate="translate">Vampire Bat</p>
<p translate="translate">Artemis</p>
<p translate="translate">Erinys</p>
<p translate="translate">Malocchio</p>
<p translate="translate">Shadowfeeder</p>
<p translate="translate">Chaos</p>
<p translate="translate">Bone</p>
<p translate="translate">Dís</p>
<p translate="translate">Idis</p>
<p translate="translate">Völva</p>
<p translate="translate">Norn</p>
<p translate="translate">Valkyrie</p>
<p translate="translate">Hypnotoad</p>
<p translate="translate">Kydoimos</p>
<p translate="translate">Basilisk</p>
<p translate="translate">Perentie</p>
<p translate="translate">Lamia</p>
</body></html>
