<div class="row">
    <div class="col-sm-2 col-sm-offset-3">
        <a class="btn btn-default col-sm-12" href="#/explore/characters">Characters</a>
    </div>
    <div class="col-sm-2">
        <a class="btn btn-default col-sm-12" href="#/explore/rebirths">Rebirths</a>
    </div>
    <div class="col-sm-2">
        <a class="btn btn-default col-sm-12" href="#/explore/skills">Skills</a>
    </div>
</div>

<div class="row" style="margin-top: 1em;">
    <div class="col-sm-2 col-sm-offset-3">
        <a class="btn btn-default col-sm-12" href="#/explore/buddies">Buddies</a>
    </div>
    <div class="col-sm-2">
        <a class="btn btn-default col-sm-12" href="#/explore/buddies-evolution">Buddy Evolutions</a>
    </div>
</div>