<h2>Characters List</h2>
<p>
  <ul>
    <li>You can check the "Have ?" column to indicate you have that character</li>
    <li>You can tell what job level he has</li>
    <li>The first line tells you how many characters you have</li>
    <li>The "P.o.T" and "P.o.F" tells you if a character can be obtained by Pact of Fellowship or the Pact of Truth</li>
  </ul>
</p>
<p>
  <img class="img-responsive img-thumbnail" src="images/help-character-list.png" />
</p>

<h2>Item List</h2>
<p>
  <ul>
    <li>You can tell you how many items you have</li>
    <li>The column "Currently you need" takes into account the character you have and which job they have to tell you how many more item you need to get to Job Level 3</li>
    <li>The column "For all characters, you would need :" tells you how many items are needed to get every character to Job Level 3</li>
  </ul>
</p>
<p>
  <img src="images/help-item-list.png" class="img-responsive img-thumbnail" />
</p>

<h2>Stages List</h2>
<p>
  <ul>
    <li>The last column (with the pencil) opens a dialog to enter stats about a stage (experience and coins)</li>
  </ul>
</p>
<p>
  <img src="images/help-stage-list.png" class="img-responsive img-thumbnail" />
</p>

<p>You can add either an experience gained or coins acquired in a stage; theses stats will then be averaged on the stage list page so that you can tell which stage gives the more experience, which stage is the most efficient given stamina, etc.</p>
<p>
  <img src="images/help-stage-edit.png" class="img-responsive img-thumbnail" />
</p>
