<h1>Terra Battle Stats Guide</h1>

<h2>Introduction and Structure</h2>

<p class="text-center"><img src="images/1-main.jpg" class="img-responsive img-thumbnail"/></p>

<p>The first screen we can see when the page loads is a disclaimer where the creator gives credit to his data sources. Under that there's a small guide with some basic steps to use this tool. We can also see the different options on the menu here: Chapters, Characters, Levelling, Items and Misc.</p>

<p class="text-center"><img src="images/2-menus.jpg" class="img-responsive img-thumbnail"/></p>

<p>In Chapters, we can write down information about the amount of experience and gold obtained in any of the maps of the game. The Characters option is one of the most interesting ones, because gives information about how much money a user needs to complete the Pact of Fellowship. On the Levelling tab we input out item numbers and the webpage will calculate how many do we need for our characters' jobs and for all the characters' jobs. In the Misc. menu we find some options for the load/save/reset of our data (this data is stored in a standalone file with the .json file extension) and various settings. Now we will explain how to use each submenu individually.</p>

<h2>Chapters</h2>
<p>When we enter on the Chapters submenu, we find a list with all the chapters of the game, each one as a link.</p>

<p class="text-center"><img src="images/3-chapters1.jpg" class="img-responsive img-thumbnail"/></p>

<p>When we click on one of them (in this example is chapter 15) we get directed to another screen with all the stages for that chapter. </p>

<p class="text-center"><img src="images/4-chapters2.jpg" class="img-responsive img-thumbnail"/></p>

<p>We can add runs for each stage by clicking on the button with a pencil. This dialogue box pops up and we introduce the experience and money obtained.</p>

<p class="text-center"><img src="images/5-chapters3.jpg" class="img-responsive img-thumbnail"/></p>

<p>If we pay attention we can see two buttons for each stage in the far right called Monsters and Items. When we hover our mouse cursor over the Monsters button, we obtain a list with each dropeable mob for that stage; the exact same happens with the Items button.</p>

<p class="text-center"><img src="images/6-chapters4.jpg" class="img-responsive img-thumbnail"/></p>

<p>This submenu is useful for keeping track of one's runs and the experience and gold obtained. It also provides a list of dropeable mobs and items per stage, so it can be used as reference material too. There is another option for Metal Zones, to keep track of the experience for each run.</p>

<h2>Characters</h2>

<p>This is one of the most useful submenus. We can keep a list with every character we have, and the webpage calculates some statistics based on their data.</p>

<p class="text-center"><img src="images/7-characters1.jpg" class="img-responsive img-thumbnail"/></p>

<p>On the top of the page we can find an array of filters to help locate our units: by type of unit (adventurer and/or monster), class, element, weapon and if it is a unit we already have or not. After that, we can find a list with all the filtered units. For each unit we have:</p>
<ul>
    <li>Name: the class and name of the unit.
    <li>Have?: this checkbox shows if we have   that unit or not. When this checkbox is ticked, we have the option to input the Skill Boost, the number of jobs and the level for each job of the unit.
    <li>Skill Boost: self-explanatory.
    <li>Job unlocked: the number of jobs unlocked for that unit.
    <li>Job (1, 2, 3) level: the level for each unlocked job.
    <li>P.o.T.: a tick indicates this unit can be rolled on the Pact of Truth.
    <li>P.o.F.: a tick indicates this unit can be rolled on the Pact of Fellowship.
    <li>Coin Rolls: this calculates how much money is needed to maximize the Skill Boost of a unit if it can be rolled on the Pact of Fellowship. In this case, we don't have Camellia selected, so we will need 3000 coins for rolling her the first time and another 30000 coins for maximizing her skill boost.
    <li>Energy Rolls: this calculates how much energy is needed to maximize the boost of a unit if it can be rolled on the pact of truth, in the same way as with the Coin Rolls.
    <li>Drop From: if a unit can be dropped, when we hover the cursor over this button we can see where it can drop.
</ul>
<p class="text-center"><img src="images/8-characters2.jpg" class="img-responsive img-thumbnail"/></p>

<p>At the bottom of the page we find an array of statistics about our units. Under the column with the boxes that indicate if we have that unit or not, the percentage of units owned is shown. The same happens with the unlocked jobs for our units. After that we can see the average level of our units per job, and finally, under Coin Rolls and Energy Rolls, the number of coins and energy needed for finishing both pacts. It also provides an estimation of the time of coin farming needed for completing the Pact of Fellowship, and waiting for the Login Bonus energy.</p>

<h2>Levelling</h2>

<p>Here we can find a couple of tables that select the units that need to level up by level range, in order to level them up in a map or another.</p>

<p class="text-center"><img src="images/9-levelling1.jpg" class="img-responsive img-thumbnail"/></p>

<p>The tables suggest Metal Zone 1 for levels between 1-19, Metal Zone 2 for levels between 20-29, etc. For levels 60+, we can choose between 20-1 and 23-4. The web gives us an approximate number of runs needed for levelling each character, and also the total number of runs for levelling all the characters in a table. Very useful for optimizing our experience runs. </p>

<p>It also gives us the option to choose one team (One Team at a Time) if we want to focus on certain characters, and the webpage will suggest where we should go to level them up as fast as possible.</p>

<p class="text-center"><img src="images/10-levelling2.jpg" class="img-responsive img-thumbnail"/></p>

<h2>Items</h2>

<p>On this submenu we find a list with all the items included on the game, where we can input the amount we have for each of them, and it will also offer us information about how many we need.</p>

<p class="text-center"><img src="images/11-items1.jpg" class="img-responsive img-thumbnail"/></p>

<p>Each column gives info on:</p>
<ul>
    <li>Type: race-specific item, weapon, elemental (rings), tears, particles, legendary weapons, other (Terra Fragment, Metal Ticket, Coins) and power-ups.
    <li>Rarity: common (race-specific items, weapons and rings) or rare (tears, particles, ores and legendary weapons). 
    <li>Name: the name of the item.
    <li>Stock: how many we have.
    <li>Need for: the number of items we need for the jobs we have not unlocked.
    <li>All: the number of items we need for the jobs of all characters, even the ones we do not have.
    <li>For: the characters that require those items.
</ul>
<p class="text-center"><img src="images/12-items2.jpg" class="img-responsive img-thumbnail"/></p>
<ul>
    <li>Where?: farming locations for that item.
    <li>Hunting Zone: if that item can be dropped on any Hunting Zone, here we can see in which one.
</ul>
<p>As with the Chapters submenu, here we can check where a certain item can drop, which can be used as reference material. It can be also useful for planning the farming of a certain item; for example, we can check how much tears we need for all the characters, so we can farm them during a Gormandizer event. On the All column for the Coins item, we can see how many coins we need to unlock the jobs for each character, even for the ones we do not have.</p>

<h2>Misc.</h2>

<p>This submenu offers options for saving our data, which is downloaded as a file with the .json extension. We can also upload one of this files to the webpage to modify our data. The reset option will delete all of the data on the page, but it will not delete our downloaded files. Under settings we have the following options:</p>
<ul>
    <li>Current stamina: self-explanatory.
    <li>Time for 1 battle: this is used to calculate the time for one run on the Levelling submenu. By default this value is 1, meaning we need one minute to finish each battle on one run. 
    <li>Only adventurers by default: On the Levelling submenu, units will be filtered by adventurers (no mobs) by default.
    <li>Only characters you have by default: On the Characters submenu, only characters we have will be shown by default.
</ul>