<h1Guía para Terra Battle Stats</h1>

<h2>Introducción y Estructura</h2>

<p class="text-center"><img class="img-responsive img-thumbnail" src="images/1-main.jpg"/></p>

<p>Lo primero que vemos al meternos en la página es que nos redirecciona a un disclaimer donde dan crédito a las fuentes de los datos. Debajo también hay una pequeña guía de cómo funciona, aunque las capturas de pantalla que hay ahí son de una versión anterior de la página. También vemos los submenús: Capítulos, Personajes, Leveando, Objetos y Misceláneo.</p>

<p class="text-center"><img class="img-responsive img-thumbnail" src="images/2-menus.jpg"/></p>

<p>Para los Capítulos, podremos anotar información acerca de la cantidad de experiencia y dinero obtenidos de cualquiera de los mapas del juego. El submenú de Personajes es de los más interesantes, ya que da datos acerca de cuánto dinero es necesario para completar el pacto de compañerismo. El apartado de Leveando ofrece información acerca de dónde sería más eficiente levear a los personajes que se poseen actualmente. En el apartado de Objetos podemos introducir los que tenemos, y nos dirá cuántos nos faltan para conseguir jobs para todos los personajes. En Misceláneo tenemos comandos para cargar/guardar/resetear nuestros datos (se almacenan en un fichero aparte con extensión .json) y una serie de opciones. Ahora iremos apartado por apartado explicando cómo funcionan. Comenzaremos por el de Capítulos.</p>

<h2>Capítulos</h2>

<p>Al entrar en el apartado de capítulos nos encontramos con una lista de todos los capítulos del juego, cada uno como un enlace.</p>

<p class="text-center"><img class="img-responsive img-thumbnail" src="images/3-chapters1.jpg"/></p>

<p>Si hacemos clic en uno de los enlaces (en este caso, en el capítulo 15), nos lleva a una pantalla con los escenarios para dicho capítulo.</p>

<p class="text-center"><img class="img-responsive img-thumbnail" src="images/4-chapters2.jpg"/></p>

<p>Podemos añadir runs para cada escenario haciendo clic en el botón con un lápiz dibujado; se nos abre el siguiente cuadro de diálogo, donde introduciremos la experiencia y el dinero obtenidos.</p>

<p class="text-center"><img class="img-responsive img-thumbnail" src="images/5-chapters3.jpg"/></p>

<p>Si nos fijamos, en cada escenario tenemos dos botones a la derecha del todo llamados Monstruos y Objetos. Al pasar el ratón por encima de los botones de Monstruos, obtenemos una lista de todos los mobs dropeables para ese escenario, y lo mismo sucede con el botón de objetos.</p>

<p class="text-center"><img class="img-responsive img-thumbnail" src="images/6-chapters4.jpg"/></p>

<p>Este apartado es útil para mantener un seguimiento de los runs realizados y las ganancias por cada uno. Además, ofrece una lista de mobs reclutables y objetos dropeables por cada fase, así que también sirve como una referencia de datos. Si vamos al subapartado de Zonas de Metal, el contenido es similar para mantener un seguimiento de la experiencia en cada run.</p>

<h2>Personajes</h2>

<p>Este es de los apartados más útiles. Podemos mantener una lista con todos los personajes que tenemos, y calcula una serie de datos y estadísticas para los mismos.</p>

<p class="text-center"><img class="img-responsive img-thumbnail" src="images/7-characters1.jpg"/></p>

<p>En la parte superior encontramos una serie de filtros para ayudar a localizar nuestros personajes de manera más sencilla: por tipo de personaje (aventurero/monstruo), clase, elemento, arma y si es un personaje que ya tenemos o no. Después nos encontramos con una lista de los personajes filtrados. Para cada personaje tenemos:</p>

<ul>
    <li>La clase y el nombre del personaje.</li>
    <li>Una casilla que indica si se posee el personaje o no. Cuando esta casilla está marcada, tenemos la opción de modificar el Skill Boost, el número de jobs, y el nivel para cada uno de ellos.</li>
    <li>El Skill Boost de la unidad (introducido manualmente).</li>
    <li>El número de jobs desbloqueados de la unidad (introducido manualmente).</li>
    <li>Los niveles para los jobs desbloqueados (introducidos manualmente).</li>
    <li>Un tick en P.o.T. indica que el personaje se puede conseguir en el pacto de la verdad; una X indica lo contrario.</li>
    <li>Un tick en P.o.F. indica que el personaje se puede conseguir en el pacto de compañerismo; una X indica lo contrario.</li>
    <li>En Coin Rolls tenemos la cantidad de monedas que necesitamos para maximizar el boost de un personaje que se consiga en el pacto de compañerismo. En este caso, por ejemplo, no tengo a Camellia aún, así que necesitaría 3.000 monedas iniciales para obtenerla y otras 30.000 para maximizar su boost: en total, 33.000 monedas.</li>
    <li>En Energy Rolls tenemos la cantidad de energía que necesitamos para maximizar el boost de un personaje que se consiga en el pacto de la verdad. Funciona de manera homóloga al apartado de Coin Rolls.</li>
    <li>Drop From, cuando un personaje sea dropeable, nos indica al pasar el ratón por encima dónde se puede conseguir ese personaje, de la misma forma que en el apartado de Capítulos.</li>
</ul>

<p class="text-center"><img class="img-responsive img-thumbnail" src="images/8-characters2.jpg"/></p>

<p>Al final de la página encontramos una serie de estadísticas acerca de nuestros personajes. Bajo la casilla que se marca para indicar si se tiene el personaje o no, nos indica el porcentaje del total de los monstruos que tenemos. Lo mismo con los jobs desbloqueados de todos los personajes que tenemos. Luego nos ofrece una media de los niveles de los personajes por job, y por último, bajo Coin Rolls y Energy Rolls, el número de monedas y energías necesarias para acabar los pactos. Además ofrece un cálculo del tiempo que falta para completar ambos pactos, farmeando monedas en Sacacuartos y esperando por la energía.</p>

<h2>Leveando</h2>

<p>Aquí encontramos una serie de tablas que nos separan los personajes que necesitan subir de nivel por rangos de nivel, para poder levearlos en un mapa u otro.</p>

<p class="text-center"><img class="img-responsive img-thumbnail" src="images/9-levelling1.jpg"/></p>

<p>Tenemos unas tablas dependiendo del nivel de nuestros personajes, y para cada tabla nos sugiere un lugar para levearlos. Entre los niveles 1-19 la Zona de Metal 1 y lo mismo para todas las Zonas de Metal, y a partir del nivel 60 podemos escoger tanto 20-1 como 23-4. Nos da un valor aproximado del número de runs necesarios para levear cada personaje, además del número total de runs necesario para levear todos los personajes de una de las tablas. Bastante útil para optimizar los runs para levear, la verdad.</p>

<p>También tenemos la opción de escoger un equipo (One Team at a Time) si estamos centrados en levear a unos personajes determinados, y nos dirá dónde tenemos que ir para levearlos lo más rápido posible.</p>

<p class="text-center"><img class="img-responsive img-thumbnail" src="images/10-levelling2.jpg"/></p>

<h2>Objetos</h2>

<p>En este apartado encontramos una lista de todos los objetos del juego, donde deberemos poder nuestras cantidades de los mismos, y nos ofrecerá información acerca de cuántos necesitamos.</p>

<p class="text-center"><img class="img-responsive img-thumbnail" src="images/11-items1.jpg"/></p>

<p>Al igual que con los personajes, cada columna nos indica algo diferente:</p>
<ul>
    <li>Tipo de objeto. Específico de raza, de arma, elemental (anillos), lágrimas, partículas, minerales, armas legendarias, otros (Fragmento Terra, Ticket de Metal, monedas) y power-ups.</li>
    <li>Rareza. Común (objetos de raza, arma y anillos) o raro (lágrimas, partículas, minerales y armas legendarias).</li>
    <li>El nombre del objeto en cuestión.</li>
    <li>Stock: el número de objetos de ese tipo que tenemos (introducido manualmente).</li>
    <li>Need for: el número de objetos que necesitamos para los jobs que aún no hemos desbloqueado.</li>
    <li>All: el número de objetos que necesitamos para los jobs de todos los personajes, incluso los que aún no tenemos.</li>
    <li>For: los personajes que requieren esos objetos.</li>
</ul>
<p class="text-center"><img class="img-responsive img-thumbnail" src="images/12-items2.jpg"/></p>

<ul>
    <li>Where?: dónde puede conseguirse ese objeto.</li>
    <li>Hunting Zone: si el objeto sale en alguna de las zonas de caza, aquí se muestra en cuál de ellas se consigue principalmente.</li>
</ul>

<p>Al igual que la parte de los capítulos, aquí podemos ver dónde se dropea un objeto determinado, lo que lo hace bastante útil. También viene bien para planificar el farmeo de un objeto determinado; por ejemplo, si alguien quiere farmear todas las lágrimas para todos los posibles personajes durante los Gormandizers, puede comprobar cuántas se necesitan en total y farmearlas durante el evento. En el apartado All de la monedas, se nos dice cuántas monedas son necesarias para desbloquear los jobs de todos los personajes que no lo tienen desbloqueado, incluso de los que no tenemos.</p>

<h2>Misceláneo</h2>

<p>Esta categoría ofrece opciones para guardar nuestros datos, los cuales se almacenan en un archivo con extensión .json que se nos ofrecerá para descargar. También podemos cargar uno de estos archivos a la página para modificar nuestros datos. La opción reset borrará todos nuestros datos de la página para empezar desde cero, pero esto no afecta a cualquier archivo que tengamos descargado en nuestro ordenador. En Settings accedemos a una serie de opciones:</p>
<ul>
    <li>Cantidad de energía actual.</li>
    <li>Tiempo para una batalla. Esto se utiliza para calcular el tiempo de los runs en la parte de Leveando. Por defecto es 1, lo que indica que se tarda un minuto en completar cada batalla del run.</li>
    <li>Sólo aventureros por defecto. En la parte de Leveando, por defecto los personajes estarán filtrados por aventureros sólo (no mobs).</li>
    <li>Sólo personajes que se posean por defecto. En la parte de Personajes, sólo se mostrarán por defecto los personajes que ya se tengan.</li>
</ul>
<p class="text-center"><img class="img-responsive img-thumbnail" src="images/13-settings.jpg"/></p>