<div class="modal-header">
  <h3 class="modal-title" translate>Import user data</h3>
</div>

<div class="modal-body" style="">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="user_data_file" class="col-sm-3 control-label" translate>User data</label>
            <div class="col-sm-9">
                <input id="user_data_file" type="file" fileread="user_data_file" class="" />
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="dismiss()" translate>Dismiss</button>
    <button class="btn btn-primary" ng-click="ok()" translate>OK</button>  
</div>
